<div class="change-password">
  <h1>Change your account password</h1>

<form action="" method="POST">
  <label for="old-password-input">Enter current password</label>
  <input id="old-password-input" name="oldPassword" type="password" minlength="2" required>
  <label for="new-password-input">Enter new password</label>
  <input id="new-password-input" name="newPassword" type="password" minlength="6" required>
  <button>Update account</button>
</form>
</div>
