<div class="edit">
  <h1>Update your account</h1>

<form action="" method="POST">
  <label for="username-input">Enter new username</label>
  <input id="username-input" name="username" type="text" maxlength="16" value="{{ user.username }}">
  <label for="name-input">Enter your name</label>
  <input id="name-input" name="name" type="text" value="{{ user.name }}" >
  <button>Update account</button>
</form>
</div>
