
<div class="login">
<h1>Login to your account</h1>

<form action="" method="POST">
  <label for="username-input">Enter username</label>
  <input id="username-input" name="username" type="text" minlength="3" maxlength="16" required>
  <label for="password-input">Enter password</label>
  <input id="password-input" name="password" type="password" minlength="6" required>
  <button>Login to your account</button>
</form>
</div>
